/* 
  Main Stylesheet
*/

* {
  box-sizing:border-box; /*prevents inputs from going outside of parent div */
  font-family: acumin-pro-extra-condensed, Impact, Helvetica, Arial, sans-serif;
  font-size: 20px;
}

body{
  height: 100%;
  margin: 0;
  color: #3D3D3D;
  background-image: linear-gradient( 112.1deg,  rgba(32,38,57,1) 11.4%, #3f4c77 70.2% );
  background-repeat: no-repeat;
  background-attachment: fixed;
}
header{
  margin-top: 20px;
  color: #f1f1f1;
  text-align: center;
}
header h1{
  font-weight: 400;
  font-style: normal;
  font-size: 50px;
  margin-top: -10px;
  margin-bottom: -20px;
}
form{
  width:400px;
  padding: 30px 55px;
  background-color: #fff;
  color: rgba(32,38,57,1);
  margin: auto;
  margin-top: 20px;
  box-shadow:  4px 3px 7px -2px rgba(0,0,0,0.34);
}
#information{
  margin: auto;
}
label{
  text-align: left;
  font-size: 25px;
}

input[type=text], input[type=email], input[type=tel] {
  width: 100%;
  padding:7px;
  border: 0;
  box-shadow: inset 4px 3px 11px -2px rgba(0,0,0,0.34);
}
textarea {
  width: 100%;
  resize: none;
  padding:7px;
  border:0;
  height:75px;
  box-shadow: inset 4px 3px 11px -2px rgba(0,0,0,0.34);
}

input:focus:required:invalid, textarea:focus:required:invalid{
  border: 2px solid red;
  background-color: pink; 
}
input:required:valid, textarea:required:valid{
  background-color: #befcbe; 
}
#btn{
  /* remove default behavior */
  appearance:none;
  -webkit-appearance:none;

  /* usual styles */
  margin-top: 15px;
  padding:10px;
  border:none;
  background-color:rgba(32,38,57,1);
  color:#fff;
  font-weight:600;
  border-radius:5px;
  width:35%;
  text-transform: uppercase;
  box-shadow: 4px 3px 5px -2px rgba(0,0,0,0.34);
}
#btn:hover {
  background-color:#3D3D3D;
}
#output {
  background-color: aqua;
}
/*Media Queries */
@media only screen and (max-width: 600px) {

  header h1{
    font-size: 40px;
  }
  header h2 {
    font-size: 18px;
  }

  input[type=text],
  input[type=email],
  input[type=tel],
  textarea{
    width: 100%; 
  }
}

@media (min-width: 1200px) {

}